@font-face {
    font-family: 'Sprat';
    src:
        url('./assets/Sprat_Variable.woff2') format('woff2'),
        url('./assets/Sprat_Variable.woff') format('woff');
}

@keyframes inhale {
    0% {
        font-variation-settings:
            'wght' 100,
            'wdth' 120;
        opacity: 0.5;
    }
    100% {
        font-variation-settings:
            'wght' 400,
            'wdth' 120;
        opacity: 1;
    }
}

@keyframes exhale {
    0% {
        font-variation-settings:
            'wght' 400,
            'wdth' 120;
        opacity: 1;
    }
    100% {
        font-variation-settings:
            'wght' 100,
            'wdth' 120;
        opacity: 0.5;
    }
}

@keyframes throb {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(1.0999) translate(-50%, -50%);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Sprat, sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #222222;
    color: #ffffff;
    text-transform: capitalize;
}

canvas {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    transform-origin: top left;
    border-radius: 100%;
    animation: throb 5s infinite alternate ease-in-out;
}

section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 9vmin;
    text-align: center;
}

section div {
    width: 5em;
}

section div.inhale {
    animation: inhale 5s infinite alternate ease-in-out;
}

section div.exhale {
    animation: exhale 5s infinite alternate ease-in-out;
}
